# How to Create a Set

In [2]:
first_set = set(("Connor", 32, (1, 2, 3))) 
first_set

{(1, 2, 3), 32, 'Connor'}

In [3]:
second_set = set("Connor")
second_set

{'C', 'n', 'o', 'r'}

In [4]:
third_set = {"Apples", ("Bananas", "Oranges")}
type(third_set)

set

# How to Add or Remove Elements in a Set

In [5]:
add_set = set((1, 2, 3, 4))
add_set

{1, 2, 3, 4}

In [6]:
add_set.update(("cello", "violin"))
add_set

{1, 2, 3, 4, 'cello', 'violin'}

In [7]:
sub_set = add_set
sub_set.remove("violin")
sub_set

{1, 2, 3, 4, 'cello'}

In [8]:
m_set = set((1, 2, 3, 4))

In [9]:
m_set.discard(5)

In [10]:
m_set.pop()

1

In [11]:
m_set

{2, 3, 4}

In [12]:
m_set.clear()

In [13]:
m_set

set()

# ***Python set() Operations***

1. Set Union

In [14]:
first_set = {1, 2, 3}
second_set = {3, 4, 5}

In [15]:
first_set.union(second_set)
{1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

2. Set Intersection

In [16]:
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}

In [17]:
first_set.intersection(second_set)
{4, 5, 6}

{4, 5, 6}

3. Set Difference

In [18]:
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}
first_set.difference(second_set)

{1, 2, 3}

In [19]:
first_set - second_set

{1, 2, 3}

In [20]:
second_set - first_set

{7, 8, 9}

4. Set Symmetric Difference

In [21]:
first_set = {1, 2, 3, 4, 5, 6}
second_set = {4, 5, 6, 7, 8, 9}
first_set.symmetric_difference(second_set)

{1, 2, 3, 7, 8, 9}

In [22]:
first_set ^ second_set

{1, 2, 3, 7, 8, 9}

How to Modify a Set by Operations

In [23]:
a = {1, 2, 3, 4, 5, 6}
b = {4, 5, 6, 7, 8, 9}

In [24]:
a.update(b)
a

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [25]:
a &= b 
a

{4, 5, 6, 7, 8, 9}

In [26]:
 a -= set((7, 8, 9))
 a

{4, 5, 6}

In [27]:
a ^= b 
a

{7, 8, 9}

# ***Frozen Sets in Python***

In [28]:
a = frozenset((1, 2, 3, 4))
b = frozenset((3, 4, 5, 6))
a.issubset(b)

False

In [29]:
a = frozenset((1, 2, 3, 4))
b = frozenset(("w", "x", "y", "z"))
d = {a: "hello", b: "world"}
d

{frozenset({1, 2, 3, 4}): 'hello', frozenset({'w', 'x', 'y', 'z'}): 'world'}

# ***Tuple Creation***

In [30]:
tuple_1 = 1, 2, 3 
print(tuple_1)

(1, 2, 3)

In [31]:
type(tuple_1)

tuple

In [32]:
len(tuple_1)

3

In [33]:
my_tuple = 1, 2, 9, 16, 25
print(my_tuple)

(1, 2, 9, 16, 25)

In [34]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

In [35]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');
tup3 = tup1 + tup2;
print (tup3)

(12, 34.56, 'abc', 'xyz')

# ***Slicing***

In [36]:
my_tuple = ('p','r','o','g','r','a','m','i','z')
print(my_tuple[1:4])

('r', 'o', 'g')

# ***Changing a Tuple***

In [1]:
# Changing tuple values
my_tuple = (4, 2, 3, [6, 5])

In [39]:
# Tuples can be reassigned
my_tuple = ('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')
print(my_tuple)

('p', 'r', 'o', 'g', 'r', 'a', 'm', 'i', 'z')

# List Operations in Python

In [42]:
a = [1,2,"Peter",4.50,"Ricky",5,6]  
b = [1,2,5,"Peter",4.50,"Ricky",6]  
a ==b

False

In [43]:
a = [1, 2,"Peter", 4.50,"Ricky",5, 6]  
b = [1, 2,"Peter", 4.50,"Ricky",5, 6]  
a == b

True

# ***List indexing and splitting***

In [44]:
list = [1,2,3,4,5,6,7]  
print(list[0])  
print(list[1])  
print(list[2])  
print(list[3])  
# Slicing the elements  
print(list[0:6])  
# By default the index value is 0 so its starts from the 0th element and go for index -1.  
print(list[:])  
print(list[2:5])  
print(list[1:6:2])

1
2
3
4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]
[3, 4, 5]
[2, 4, 6]

In [45]:
list = [1,2,3,4,5]  
print(list[-1])  
print(list[-3:])  
print(list[:-1])  
print(list[-3:-1])

5
[3, 4, 5]
[1, 2, 3, 4]
[3, 4]

***Iterating a List***

In [46]:
list = ["John", "David", "James", "Jonathan"]    
for i in list:        
    print(i)

John
David
James
Jonathan